<!DOCTYPE html>
<html lang="en">
    <!--Include Head-->
    <%- include('./partials/head.ejs') %>
<body>
    <!--Include Nav-->
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus animi nihil nam quia veniam adipisci aut! Itaque ipsum optio vero, corrupti temporibus ab eos illum nobis. Laborum saepe nostrum magni!
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus animi nihil nam quia veniam adipisci aut! Itaque ipsum optio vero, corrupti temporibus ab eos illum nobis. Laborum saepe nostrum magni!
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus animi nihil nam quia veniam adipisci aut! Itaque ipsum optio vero, corrupti temporibus ab eos illum nobis. Laborum saepe nostrum magni!
        </p>
    </div>
    
</body>
    <!--Include Footer-->
    <%- include('./partials/footer.ejs') %>
</html>